@use "./variables" as *;

h1,
h2,
h3 {
  margin: 0;
  font-family: "Advent Pro", sans-serif;
  color: $primary-color;
}
h1 {
  font-weight: 800;
  font-size: 5rem;
  line-height: 4rem;
}
h2 {
  font-size: 2rem;
}

p,
a {
  color: $primary-color;
  font-family: "Share Tech Mono", monospace;
}

a {
  text-decoration: overline;
  &:hover {
    text-decoration: line-through;
  }
}
