h1,
h2 {
  margin: 0;
  font-family: "Advent Pro", sans-serif;
  color: #4b6e8c;
}
h1 {
  font-weight: 800;
  font-size: 5rem;
  line-height: 4rem;
}
h2 {
  font-size: 2rem;
}

p {
  color: #4b6e8c;
  font-family: "Share Tech Mono", monospace;
}
