@use "../../styles/partials/mixins" as *;

.mystack {
  background-color: #f8f8ff; //ghost

  &__content {
    display: flex;
    gap: 10px 20px;
    justify-content: center;
  }

  &-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    padding: 10px;
    position: relative;
    @include tablet {
      width: 50%;
    }
  }

  &__logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0.85;

    &:hover {
      transform: scale(1.5);
      z-index: 10;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      opacity: 1;
      &::after {
        transform: scale(1);
      }
    }
  }
}
