@use "../../styles/partials/variables" as *;

.nav {
  // display: flex;
  // justify-content: flex-end;
  background-color: transparent;
  position: fixed;
  right: 0;
  bottom: 0;
  align-items: center;
  padding: 15px 0;
  width: max-content;
  height: fit-content;
  transform: rotate(90deg);
  transform-origin: top right;

  &__mobile {
    bottom: none;
    transform: none;
  }

  &-links {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    margin: 0;
    justify-content: center;
    text-align: center;

    &__close {
      display: none;
    }
  }

  &-menu {
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0 20px;
    text-transform: uppercase;
    color: $primary-color;
    font-family: "Share Tech Mono", monospace;
    padding: 1rem;
    &:hover {
      text-decoration: line-through;
    }
  }
}

.hamburgerMenu {
  position: fixed;
  right: 0;
  padding: 1.5rem;
  z-index: 99;
}
.no-scroll {
  overflow: hidden;
}
