@use "../../styles/partials/variables" as *;

.nav {
  // background-color: transparent;
  // position: fixed;
  // right: 0;
  // bottom: 0;
  // align-items: center;
  // padding: 15px 0;
  // width: max-content;
  // height: fit-content;
  // transform: rotate(90deg);
  // transform-origin: top right;

  // &__mobile {
  //   bottom: none;
  //   transform: none;
  // }

  &-links {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    margin: 0;
    justify-content: center;
    text-align: center;
    z-index: 1;

    &__close {
      display: none;
    }
  }

  &-menu {
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0 20px;
    text-transform: uppercase;
    padding: 1rem;
  }

  &-pages {
    padding: 1rem;
    text-decoration: overline;
  }
}

.hamburgerMenu {
  position: fixed;
  right: 0;
  padding: 1.5rem;
  z-index: 99;
}
.no-scroll {
  overflow: hidden;
}
