@use "/src/styles/partials/typography" as *;
@use "/src/styles/partials/mixins" as *;

//global
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
//

.app {
  width: 100vw;
}
