@use "/src/styles/partials/typography" as *;
@use "/src/styles/partials/mixins" as *;

//global
body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
//

.main-container {
  background-color: #1e2128;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  @include sm-tablet {
    flex-direction: row;
    justify-content: center;
    align-items: end;
  }

  &-contact {
    padding: 10px;
    margin-left: 1rem;
    @include sm-tablet {
      margin-left: 0;
      text-align: right;
    }

    &__links {
      font-size: 0.8rem;
      display: flex;
      justify-content: flex-start;
      @include sm-tablet {
        justify-content: end;
      }
    }
  }

  &-header {
    padding: 10px;
    text-align: left;
  }
}
