@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.about {
  background-color: $black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__copy {
    font-size: 1.2rem;
    margin: 20px 0;
    text-align: justify;
    line-height: 30px;
    @include sm-tablet {
      max-width: 40vw;
      margin: auto;
    }
  }
}
