.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f8ff; //ghost

  &__copy {
    font-size: 1.2rem;
    margin: 10px 0;
  }
}

.section {
  padding: 100px 50px;

  &-title {
    margin-bottom: 2rem;
    text-align: center;
  }
}
