.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f8ff; //ghost

  &__copy {
    font-size: 1.2rem;
    margin: 20px 0;
    text-align: justify;
    line-height: 30px;
  }
}

.section {
  padding: 100px 70px;

  &-title {
    margin-bottom: 2rem;
    text-align: center;
  }
}
